@keyframes abilitiesDisplay {
    from {
        clip-path: inset(0 0 0 0);
    }
    to {
        clip-path: inset(0 0 0 100%);
    }
}

@keyframes abilities1 {
    from {
        width: 0;
    }
    to {
        width: 80%;
    }
}

@keyframes abilities2 {
    from {
        width: 0;
    }
    to {
        width: 75%;
    }
}

@keyframes abilities3 {
    from {
        width: 0;
    }
    to {
        width: 70%;
    }
}

@keyframes abilities4 {
    from {
        width: 0;
    }
    to {
        width: 65%;
    }
}

@keyframes abilities5 {
    from {
        width: 0;
    }
    to {
        width: 60%;
    }
}

@keyframes abilities6 {
    from {
        width: 0;
    }
    to {
        width: 50%;
    }
}
