@import "./../../variables.scss";

@keyframes textAppearFromLeft {
    0% {
        clip-path: inset(0 100% 0 0);
    }
    100% {
        clip-path: inset(0 0 0 0);
    }
}

@keyframes imgAppear {
    0% {
        opacity: 0;
        transform: translateY(-6%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes leftDot {
    0% {
        color: transparent;
    }
    90% {
        color: transparent;
    }
    100% {
        color: white;
    }
}

@keyframes imgColorRotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes typing {
    100% {
        left: 105%;
    }
}

@keyframes slide {
    100% {
        top: -148px;
    }
}
