// Tablet
@media screen and (min-width: 768px) and (max-width: 1380px) {
    .container {
        .middleHeader {
            flex-direction: column;
            justify-content: center;
            .left {
                display: flex;
                justify-content: center;
                margin-bottom: 4%;
                .leftText {
                    width: 510px;
                    padding: 0;
                    font-size: 0.8em;
                }
                .subText {
                    font-size: 1.5em;
                    .dynamicTextsContainer {
                        height: 30px !important;
                    }
                }
            }
        }
        .right {
            display: flex;
            justify-content: center;
            margin-right: 0;
        }
        .imgContainer {
            width: 421px;
            height: 421px;
            &:after {
                width: 400px;
                height: 400px;
            }
            &:before {
                width: 420px;
                height: 420px;
            }
            .profile_img {
                width: 356px;
                height: 356px;
            }
        }
    }
}

// Phone
@media screen and (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 10px;
        padding-bottom: 80px;
        .topHeader {
            .nav {
                display: flex;
                justify-content: end;
                .navLeft {
                    display: none;
                }
                .navRight {
                    .phoneNav {
                        display: block;
                    }
                    ul {
                        display: none;
                    }
                }
            }
        }
        .middleHeader {
            margin-top: -80px;
            flex-direction: column;
            justify-content: center;
            .left {
                display: flex;
                justify-content: center;
                margin-bottom: 20px;
                .leftText {
                    padding: 6vw;
                    font-size: 0.5em;
                    width: 330px;
                }
                .subText .dynamicTextsContainer {
                    height: 20px !important;
                }
            }
            .imgContainer {
                width: 271px;
                height: 271px;
                &:after {
                    width: 250px;
                    height: 250px;
                }
                &:before {
                    width: 270px;
                    height: 270px;
                }
                .profile_img {
                    width: 226px;
                    height: 226px;
                }
            }
        }
    }
}
