@import "./../../variables.scss";
@import "./keyframes.scss";

.container {
    height: 100vh;
    z-index: 7;
    padding-top: 145px;
    display: flex;
    flex-direction: column;
    scroll-snap-align: start;
    h1 {
        display: flex;
        justify-content: center;
        color: white;
    }
    .projectsContainer {
        display: none;
    }
    .projectsContainerActive {
        height: 100%;
        .projectsDisplay {
            cursor: pointer;
            position: absolute;
            left: 50%;
            transform: translate(-50%);
            z-index: 15;
            margin-top: 35px;
            display: flex;
            justify-content: center;
            gap: 4%;
            width: 100vw;
            .projectCard {
                position: relative;
                width: 300px;
                height: 290px;
                padding: 20px;
                padding-bottom: 100px;
                background-color: white;
                border-radius: 2%;
                clip-path: inset(0 0 100% 0);
                transition: transform 0.6 ease-in-out;
                animation: projectsAppear 0.6s ease-in-out forwards;
                &:nth-child(2) {
                    animation-delay: 0.2s;
                }
                &:nth-child(3) {
                    animation-delay: 0.4s;
                }
                &:hover {
                    transform: translateY(-6px);
                }
                &:before {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0px;
                    width: 340px;
                    height: 410px;
                }
                &:hover:before {
                    background: rgb(2, 0, 36);
                    background: linear-gradient(
                        180deg,
                        rgba(2, 0, 36, 0) 0%,
                        $primary
                    );
                }
                img {
                    border-radius: 1%;
                    width: 300px;
                    height: 280px;
                    object-fit: cover;
                }
                .projectTexts {
                    margin-top: -7px;
                    .projectName {
                        position: relative;
                        color: black;
                        font-size: 1.4em;
                        text-decoration: underline 2px;
                        text-underline-offset: 4px;
                    }
                    .projectDescription {
                        position: relative;
                        color: black;
                        font-size: 0.8em;
                        margin-left: 12px;
                        margin-top: -7px;
                        opacity: 0.7;
                    }
                }
            }
        }
    }
}

@import "./mediaQueries.scss";
